@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Poppins", sans-serif;
    background-color: white;
}

nav{
    background-color: white;
}


html{
    scroll-behavior: smooth;
}

p{color: black;

}

a, .btn{
    transition: all 300ms ease;
}

/* NAV */

nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
}

#hamburger-nav{
    display:none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;

}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;

}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px,-5px);

}

.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:first-child{
    opacity: 1;
}
.hamburger-icon span:first-child{
    transform: none;
}

/* sections */


.section-container{
    display:flex;
    margin: 0 auto;
    max-width: calc(100% - 4em);
    width: 80em;
}

.section-container-alt{
    margin: 0 auto;
    max-width: calc(100% - 4em);
    width: 80em;
}


/* hero */



#hero{
    height: 80vh;
    background-color: #fbbec3;
}

#hero .section-container{
    height: 100%;
}

.section_pic-container{
    width: 75%;
}

.section_pic-container img{
    width: 100%;
    height: 100%;
}


.section_text-container{
    align-self: center;
    text-align: center;
}

.section_text-container h1{
font-size: 3rem;
margin-bottom: 1rem;
}

.section_text_p{
font-size: 1.5rem;
margin-bottom: 1rem;
}

/*button*/
.btn-container{
    display:flex;
    justify-content: center;
}

.btn{
    font-weight: 700;
    font-size: 1rem;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1{
    border: black 0.1rem solid;
    background-color: #f08e80;
    color: white;
}

.btn-color-1:hover{
    cursor: pointer;
    background-color: #dd7b6cc2;
}

/*About us*/

#about{
    background-color: #f08e80;
}
 h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

#about h4{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#about .section-container-alt{
    padding: 2rem;
}
#about .section-container-alt ul{
    margin-left: 2rem;
}

#about ul li {
    margin: 1rem 0;
    line-height: 1.8;
}

/* animal stories*/

#animals{
    background-color: #f5f5dc;
}



#animals img{
    max-width: 250px;
    max-height: 250px;
}



#animals .section-container{
    flex-wrap: wrap;
    padding: 1rem 0;
    justify-content: center;
    gap: 1rem;

}

.animal-container{
    display:flex;
    border: black 2px solid;
    width: 550px;
    padding: 1.25rem;
    border-radius: 2rem;

}

.animal-container p{
    
    padding: .5rem 2rem;
}

/* catfacts */

#catfacts{
    background-color: #fbbec3
}


#catfacts h2{
    margin-top: 1.5rem;
}

#fact-text{
    text-align: center;
    font-size: 24px;
    padding: .5rem 2rem;
    margin-bottom: 2rem;
}

#catfacts .section-container{
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
}

.fact-text-container{
    min-height: 250px;
}

/* contact */

#contact{
    background-color: #f08e80;
}
#contact h2{
    text-align: left;
}

#contact .section-container{
    gap: 2rem;
    padding-top: 5rem;

}

.contact-text-container{
    padding: 3rem;

}
.form-container{
    
    flex: 1 1 auto;
    padding: 2rem;
}

.form-top-container{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.form-top-container input{
width: 50%;
height: 2.75rem;
padding-left: .5rem;
font-size: 20px;
}

.form-container #msg{
    width: 100%;
    min-height: 250px;
    font-size: 20px;
    padding-left: .5rem;
}

#msg{
    margin-bottom: 1.5rem;
}

/* footer */

footer{
    background-color: black;
    color: white;
}

footer .nav-links a{
    color: white;
}
footer .section-container-alt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    
    height: 20vh;
}


@media screen and (max-width: 1100px) {
    #hero{
        height:70vh;
    }

    #hero h1{
        font-size:2rem;
    }
    #hero p{
        font-size: 1.2rem;
    }
    .section-container, .section-container-alt{
        width: 100%;
    }
    
    #desktop-nav{
        display: none;
    }

    #hamburger-nav{
        display: flex;
    }

    nav{
        justify-content: space-between;
        padding-left: 3rem;
        padding-right: 3rem;
    }

}

@media screen and (max-width: 800px) {
    #hero .section-container{
        flex-direction: column;
        justify-content: space-around;
    }

    #hero .section_pic-container{
        align-self: center;
    }
    
    #contact .section-container{
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    #animals .animal-container{
        flex-direction: column;
    }

    #animals .animal-container img{
        align-self: center;
    }
}

@media screen and (max-width: 400px){
    
    #contact .section-container p{
        font-size: 12px;
    }
    footer .section-container-alt ul{
        font-size: 12px;
    }
}

